/* START GLOBAL */
@font-face {
    font-family: Go;
    src: url(../webfonts/GothamLight-Regular.otf);
}
@font-face {
    font-family: Kufi;
    src: url(../webfonts/NotoKufiArabic-Regular.ttf);
}

body {
    background-color:#18191D;
    font-family:GO ;
    color:white;
}
.loading-ajax {
    position: absolute;
    top:50%;
    left:45%;
    z-index: 55;
}
.bor-danger {
    border:3px solid red;
}
.bor-success {
    border:3px solid green;
    
}
.wrong-message {
    font-size: 11px;
    color: red;
    margin-top: 10px;
}
.valid-message {
    display:none;
}
/* END GLOBAL  */

/*** START STYLE OF LOGIN PAGE ***/
.login-container {
    margin:200px auto;
    border:1px solid rgba(255,255,255,.1); 
    background-color:#2B2B2B;
    padding:40px 0 !important;
}
.login-container img {
    width:50%;
    margin:20px 30%;
}
.input-perant {
    position: relative;
    width:60%;
    margin:20px 20%;
}
.login-container input:not(.submit) {
    background-color:#232324;
    border:1px solid rgba(255,255,255,.1); 
    padding:10px 0 10px 40px;
    color:white
}

.login-container input:focus{
    background-color:#232324;
}
.login-container input::placeholder {
    color:rgba(255,255,255,.5)
}
.login-container i {
    position:absolute;
    top:8px;
    left:5px;
    font-size:20px;
    color:rgba(255,255,255,.8)
}
.login-container input.submit {
    width:30%;
    padding:6px 0 6px 20px;
    background-color:rgb(152, 195, 75);
    color:#fff;
}
/*** END STYLE OF LOGIN PAGE ***/

/*** START DASHBOARD STYLE ***/
.navbar {
     background-color:#18191D !important;
    border-bottom:1px solid rgba(255,255,255,.1)
}
.navbar-brand img {
    width:50%;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    left: -150px;
    background-color:#2B2B2B;
}
.dropdown-item {
    color:#FFF;
    transition: all .4s ease-in-out;
}
.dropdown-item:hover {
padding:10px 30px;
}
/* Start Left-Side*/
.left-side{
    width:5%;
    background-color:#292B31;
    position: relative;
    z-index: 99;
    float:left;
    transition: all .5s ease-in-out
}
@media (max-width: 575.98px) {
	.left-side{
        width: 100%;
        margin-bottom: 20px;
	}
}
@media (min-width: 576px) and (max-width: 991.98px) { 
	.left-side{
        width:15%;
	}
}

.tools{
	width:100%;
    height:650px;
    color:#FFF;
}
@media (max-width:575.98px) {
    .tools {
        height:auto;
    }
}
.tools .tool {
	color: #909399;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10.5px;
    transition: 2s ease;
	
	
}
.tools .tool a {
    color:#FFF;
}
.tools .tool a:hover {
    color:#FFF;
}

@media (max-width:575.98px){
	.tools .tool{
	width: 25%;
    float: left;
    margin-left:0;
    padding:0
	}
}
@media (min-width: 576px) and (max-width: 991.98px) { 
	.tools .tool{

    padding:0 20px
	}
}
.tools .tool span::after{
	position: absolute;
	bottom: 50%;
    right: 10%;
	display: inline-block;
    margin-left: 5px;
    content: "";
    width: 7px;
    height: 7px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 0;
    border-left: none;
    transform: rotate(135deg);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@media (max-width:575.95px){
    .tools .tool span::after{
        border:none;
    } 
}
.tools .tool:hover span::after{
	-webkit-transform: rotate(317deg);
	-moz-transform: rotate(317deg);
	-o-transform: rotate(317deg);
	transform: rotate(317deg);
}
@media(max-width:575.98px){
	.tools .tool span {
		display: none;
	}
}
.tools .tool:hover > i,span{
	
	cursor: pointer
}
.tools .tool span {
    display: none;
}
.active-fadeOut .tools .tool span {
    display:inline;
}


.tools .tool i {
	margin-right:10px;
    font-size:20px;
    color:white;
}
.tools .tool span {
	font-size:14px;
}

.tools .tool .hide {
    display: none;
}
.tools .tool .sub-ul {
    padding-left:0;
}
.tools .tool .sub-ul li {
    list-style: none;
    margin:10px 0 10px 40px;
    font-size: 13px;
    font-weight: bold;
}
/* End Left-Side */


.right-side {
    width:84%;
    min-height:650px;
    background-color:#292B31;
    color:#FFF !important;
    position: relative;
    z-index: 20;
    float:left;
    margin-left:1%;
    transition: all .5s ease-in-out;
    padding-bottom:100px;
}
@media(max-width:575.98px) {
    .right-side {
        width:100%;
    }
}
.active-fadeOut {
    width:15%;

}
@media(max-width:575.98px) {
    .active-fadeOut {
        width:100%;
    }
}
.full-width {
    width:93%;
    

}
@media  (max-width: 575.98px){
    .full-width {
        width: 100%;
        margin-left:0;

    }
}

@media (min-width: 576px) and (max-width: 991.98px) { 
	.full-width {
        width:84%;
    }
}
/*** END DASHBOARD STYLE ***/
/*** START PAGES STYLE ***/
.table {
    color:#FFF;
}
.avatar {
    width:40px;
    height:40px;
    border-radius: 50%;
}
.notes {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;

}
/*** END PAGES STYLE ***/

/* START PRODUCT STYLE */

.product-container input:not([type='submit']),
.product-container select,
.custom-file-label{
    width:70%;
}
.product-container .richText {
    width:100%;
    direction: rtl;
    text-align: right;
}
.product-container .richText ul {
    padding-left:10px;
}
.product-container .richText ul li a{
    padding: 10px 10px;
}
/* END PRODUCT STYLE */

/* START PRODUCT_DETAILS PAGE */
.movie-details{
    direction: rtl;
    font-family: Kufi;
}
.movie-details h1 {
    font-size:28px;
}
.movie-details .movie-info {
    background-color: black;
    height:200px;
    padding:20px 20px;
    border-radius: 10px;
    opacity: .8;
}
.movie-details .movie-info:hover {
    opacity: 1;
}
img.poster {
    width:90%;
    height:600px
}
/* END PRODUCT_DETAILS PAGE */

/* START DASHBOARD */
.counting .group {
    height:150px;
}
.counting .group .info-group {
    background-color:#E32A69;
    height:100%;
    border-radius: 15px;
    
    
}
.counting .group:nth-child(2) > .info-group {
    background-color:#FDD12C;
}
.counting .group:nth-child(3) > .info-group {
    background-color:#E56A1E;
}
.counting .group:nth-child(4) > .info-group {
    background-color:#31054A;
}
.counting .group:nth-child(5) > .info-group {
    background-color:#EE7879;
}
.counting .group:nth-child(6) > .info-group {
    background-color:#3EB650;
}
.counting .group:nth-child(7) > .info-group {
    background-color:#FCC133;
}
.counting .group:nth-child(8) > .info-group {
    background-color:#E12B38;
}
.counting .group .info-group .info {
    padding-top:10%;
}
.counting .group .info-group .info span {
    font-size:35px;
    font-weight: bold;
}
.counting .group .info-group .info a {
    display:block;
    margin-top:10px;
}
.counting .group .info-group .info a:hover {
    color:white;
    text-decoration: none;
}
.counting .group .info-group .info b {
    font-size:20px;
    font-weight: bold;
}
.lastest .card ul {
    padding-left:0;
}
.lastest .card ul li {
    cursor: pointer;
}
hr.hr {
    display: block;
    height: 0px;
    width: 84%;
    margin-top:40px;
    margin-bottom:40px;
    background-color: rgba(255,255,255,0.3);
}
.show-action {
    /* display:none; */
}
/* END DASHBOARD */